{% extends 'base.html.twig' %}

{% block title %}Times{% endblock %}

{% block body %}
    <h1>Times</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ time.id }}</td>
            </tr>
            <tr>
                <th>Heur</th>
                <td>{{ time.heur }}</td>
            </tr>
            <tr>
                <th>Minutes</th>
                <td>{{ time.minutes }}</td>
            </tr>
            <tr>
                <th>Secondes</th>
                <td>{{ time.secondes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_times_index') }}">back to list</a>

    <a href="{{ path('app_times_edit', {'id': time.id}) }}">edit</a>

    {{ include('times/_delete_form.html.twig') }}
{% endblock %}
