{% extends 'base.html.twig' %}

{% block title %}SIGMA LEARNING CENTER
{% endblock %}

{% block body %}
	<style>
		.widget-title {
			color: black;
			opacity: 0.9 !important;
			font-weight: bold;
			font-size: 13px;
		}
	</style>
	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}

	<div class="app-main">

		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}


		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="pe-7s-diamond icon-gradient bg-strong-bliss"></i>
							</div>
							<div>Tableau de bord
								<div class="page-title-subheading">Découvrez votre tableau de bord</div>
							</div>
						</div>

					</div>
				</div>

				<div class="tabs-animation">

					<div class="row">
						<div class="col-md-6 col-lg-3">
							<div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
								<div class="widget-chat-wrapper-outer">
									<div class="widget-chart-content">
										<div class="widget-title opacity-5 text-uppercase">Date d'inscription</div>
										<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
											<div class="widget-chart-flex align-items-center">
												<div style="font-size: 16px;font-weight: normal;">

													{{app.user.createdAt|date('d/m/Y H:i')}}


												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
								<div class="widget-chat-wrapper-outer">
									<div class="widget-chart-content">
										<div class="widget-title opacity-5 text-uppercase">Date d'échéance</div>
										<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
											<div class="widget-chart-flex align-items-center">
												<div style="font-size: 16px;font-weight: normal;">


													{{app.user.createdAt|date_modify("+1 year")|date('d/m/Y H:i')}}


												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
								<div class="widget-chat-wrapper-outer">
									<div class="widget-chart-content">
										<div class="widget-title opacity-5 text-uppercase">Dernière connexion</div>
										<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
											<div class="widget-chart-flex align-items-center">
												<div style="font-size: 16px;font-weight: normal;">

													{{app.user.createdAt|date('d/m/Y H:i')}}<br>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
								<div class="widget-chat-wrapper-outer">
									<div class="widget-chart-content">
										<div class="widget-title opacity-5 text-uppercase">Temps total passé
										</div>
										<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
											<div class="widget-chart-flex align-items-center">
												<div style="font-size: 16px;font-weight: normal;">

													{% set secondes = (app.user.timer / 1000) % 60 %}
													{% set minutes = (app.user.timer / (1000*60)) % 60 %}
													{% set heurs = (app.user.timer / (1000*60*60)) % 24 %}


													{{heurs}}:{{minutes}}:{{secondes}}

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
								<div class="widget-chat-wrapper-outer">
									<div class="widget-chart-content">
										<div class="widget-title opacity-5 text-uppercase">évolution des formations</div>
										<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
											<div class="widget-chart-flex align-items-center">
												<div style="font-size: 16px;font-weight: normal;">

													0
													<small class="opacity-5 pl-1">%</small>
												</div>


											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{ block("Timer", "Menus/timer.html.twig") }}

				</div>
			</div>
			{{ block("Footer", "Menus/Footer.html.twig") }}
		</div>
	</div>

{% endblock %}
